<div id="menu-bar">
    <div class="menu-item">
        <a class="menu-item" routerLink="" >
            <img src="./../../../assets/wallet.png" alt=""  class="menu-img">
        </a>
    </div>

    <div>
        <a class="menu-item" routerLink="dashboard" style="font-weight: bold;">
            Dashboard
        </a>
    </div>
    <div>
        <a class="menu-item" routerLink="">
            Acounts
        </a>
    </div>
    <div>
        <a class="menu-item" routerLink="">
            Records
        </a>
    </div>
    <div>
        <a class="menu-item" routerLink="">
            Analytics
        </a>
    </div>

    <div class="space"></div>

    <div>
        <a class="menu-item" routerLink="">
            Log Out
        </a>
    </div>
</div>